@import '../../assets/styles.scss';

button {
	background-color: $red !important;
	border-color: $red !important;
	&:hover {
		background-color: darken($red, 5) !important;
		border-color: darken($red, 5) !important;
	}
	&:focus {
		box-shadow: 0 0 0 0.2rem transparentize($color: $red, $amount: 0.5) !important;
	}
}
